body {
  background-color: pink;
  color: white;
  font-family: monospace;
  width: 960px;
  margin: 0 auto;
}
.fish:hover {
  transform: scaleX(-1);
}
img {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  text-shadow: 10px;
  text-size-adjust: 20px;
  color: teal;
  text-align: center;
}
h2 {
  font-family: sans-serif;
  color: black;
}
label {
  color: blueviolet;
}

td,
th {
  border: 1px solid #fff;
  padding: 0.5rem;
}
td,
th {
  color: black;
  border-color: red;
  border-radius: 20px;
}
footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}
section {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
fieldset {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border-color: black;
}
button {
  margin-top: 2rem;
}
form {
  background-color: bisque;
}
legend {
  font-size: larger;
  height: 2rem;
  color: goldenrod;
  text-align: center;
}
footer {
  background-color: violet;
  border-radius: black;
  min-height: 100px;
  margin-top: 30px;
  border-radius: 0 auto;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
